body {
    height: 100%;
}

.container {
    height: 100%;
}

.panel {
    height: 100%;
    width: 100%;
}

.row {
    padding-top: 20px;
}

div.tooltip {
    position: absolute;
    left: 75px;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    background: #FFFFFF;
    border: 1px solid #989898;
    pointer-events: none;
}

div.tooltip .name {
    font-weight: bold;
}

#county-dropdown {
    margin-bottom: 20px;
}

.legend-title {
    font-weight: bold;
}
