body {
    height: 100%;
    background: #fafafa;
}

#viz {
    height: 100%;
}

svg {
    height: 100%;
    width: 100%;
}

.viz {
    height: 100%;

    position: fixed;
    top: 0;
    right: 0;
    width: 66.666667%;
}

.container-fluid {
    height: 100%;
    width: 33.333333%;
    margin-left: 0;
    margin-right: 0;
}

.panel {
    height: 100%;
    width: 100%;
    background-color: #fafafa;
}

.row {
    padding-top: 20px;
    height: 100%;
}

label {
    font-weight: bold;
}

div.tooltip {
    position: absolute;
    left: 75px;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    background: #FFFFFF;
    border: 1px solid #989898;
    pointer-events: none;
}

div.tooltip .name {
    font-weight: bold;
}

.ui.dropdown {
    margin-bottom: 20px;
}


.legend-title {
    font-weight: bold;
}
