body {
    height: 100%;
    background: #fafafa;
}

.no-scroll {
    overflow-y: hidden;
}

#viz {
    height: 100%;
}

svg {
    height: 100%;
    width: 100%;
}

.viz {
    height: 100%;

    position: fixed;
    top: 0;
    right: 0;
    width: 66.666667%;
}

.container-fluid {
    height: 100%;
    width: 33.333333%;
    margin-left: 0;
    margin-right: 0;
}

.panel {
    height: 100%;
    width: 100%;
    background-color: #fafafa;
}

.row {
    padding-top: 20px;
    height: 100%;
}

label {
    font-weight: bold;
}

div.tooltip {
    position: absolute;
    left: 75px;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    background: #FFFFFF;
    border: 1px solid #989898;
    pointer-events: none;
}

div.tooltip .name {
    font-weight: bold;
}

.ui.dropdown {
    margin-bottom: 20px;
}


.legend-title {
    font-weight: bold;
}

.header {
    z-index: 100000;
    background-color: #fafafa;
}

.padded {
    padding-top: 75px;
}

.bar.selected {
    fill: #21a4a2;
}

section.hidden {
    display: none;
}

#scroll-indicator {
    font-weight: bold;
    font-size: larger;
    text-align: center;
    position: absolute;
    bottom: 50px;
    width: 100%;
}

#scroll-indicator.hidden {
    opacity: 0;
}

.flash {
    animation-name: flash;
    animation-duration: 1s;
    animation-iteration-count: 6;
    animation-direction: alternate;
}

@keyframes flash {
  from {
      opacity: 0;
    }
  to {
      opacity: 1;
    }
}
